.sidebar {
    width: 300px;
    height: 100vh;
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    transform: translateX(-500px);
}

.sidebar.show {
    transform: translateX(0);

}